<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Resultado del pedido</h1>
    <p><%= mensaje.valor %></p>
    <a href='/formu'>Volver</a>
</body>
</html>