*{
    margin: 0;
    padding: 0;
}

h1 {
  color: #2c3e50; 
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos de la tabla */
table.azulGris {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #ffffff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

table.azulGris th, table.azulGris td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd; 
}

table.azulGris th {
  background-color: #3498db; 
  color: #ffffff; 
  font-weight: bold;
}

table.azulGris tr:hover {
  background-color: #f1f1f1; 
}


button {
  background-color: #3498db; 
  color: #ffffff; 
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #2980b9; 
}

a {
  text-decoration: none; 
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8; /* Fondo gris claro */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}


.formulario {
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: 1px solid #d1d8e0; /* Borde gris */
  border-radius: 8px;
  padding: 20px;
  margin: 0;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  color: #2c3e50; /* Azul oscuro */
  padding: 0 10px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #34495e; /* Azul grisáceo */
}

textarea, select, input[type="date"], input[type="text"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #d1d8e0;
  border-radius: 4px;
  font-size: 1em;
  color: #2c3e50; 
  background-color: #f8f9fa; 
}

textarea {
  resize: vertical;
}


#enviar {
  margin-top: 10px;
}