*{
    margin: 0;
    padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Fondo gris claro */
  color: #333; /* Texto oscuro */
  margin: 0;
  padding: 20px;
}

h1 {
  color: #2c3e50; /* Azul oscuro */
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos de la tabla */
table.azulGris {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #ffffff; /* Fondo blanco */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

table.azulGris th, table.azulGris td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Borde gris claro */
}

table.azulGris th {
  background-color: #3498db; /* Azul brillante */
  color: #ffffff; /* Texto blanco */
  font-weight: bold;
}

table.azulGris tr:hover {
  background-color: #f1f1f1; /* Fondo gris claro al pasar el ratón */
}

/* Estilos del botón */
button {
  background-color: #3498db; /* Azul brillante */
  color: #ffffff; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}

button:hover {
  background-color: #2980b9; /* Azul más oscuro al pasar el ratón */
}

a {
  text-decoration: none; /* Sin subrayado en el enlace */
}